.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 240px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, .24);
    background: #fff;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
}

.mat-sidenav-content {
    text-indent: 20px;
    background: #fff;
}