/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
}

.mat-expansion-panel-body {
    padding: 0px !important;
}

.mat-nav-list {
    padding-top: 0px !important;
    text-indent: 20px !important;
}